body {
    background-image: url("wowbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
      background-color: black;
      color: white;
    }
  .myDiv {
    border: 2px outset red;
    margin: auto;
    margin-top: 2%;
    border-style: dotted;
    background-color: lightblue;    
    text-align: center;
    padding: 15px;
    width: 400px;
    height: 60px;
    }
  .divkolme {
  float: left;
  margin-left: 5%;
  }
  .divkaksi {
    float: right;
    margin-left: 5%;
  }
  nav {
    background-color: rgb(99, 65, 17);
    width: 200px;
    float: left;
    }
    a:hover {
      color: red;
    }
  header {
  margin-bottom: 2%;
  }
  section {
    background-color: rgb(220, 127, 20);
    width: 320px;
    padding: 1%;
  }
    h1 {
      color: lightgoldenrodyellow;
      margin: auto;
      margin-top: 2%;
      font-size: 20px;
      text-align: center;
      width: 220px;
      height: 80px;
    }
    h2 {
      color: burlywood;
      margin: auto;
      margin-top: 2%;
      text-align: center;
      font-size: 40px;
      border: 8px dotted brown;
      width: 200px;
      height: 80px;
    }
    h3 {
      color: lightgoldenrodyellow;
      margin: auto;
      margin-top: 2%;
      font-size: 20px;
      border: 5px;
      border-style: ridge;
      border-color: turquoise;
      text-align: center;
      width: 220px;
      height: 80px;
    }
    h4 {
      color: goldenrod;
      margin: auto;
      margin-top: 2%;
      font-size: 50px;
      text-align: center;
      width: 1000px;
      height: 80px;
    }
    p {
    color: green;
    text-align: center;
    margin: auto;
    background-color: yellow;
    width: 250px;
    border: 5px;
    border-style: ridge;
    border-color: turquoise;
    font-size: 18px;
    } 
    .one{
      color: firebrick;
      margin-left: 2%;
      margin-top: 2%;
      background-color: yellowgreen;
      width: 300px;
      border: 3px;
      border-style: ridge;
      border-color: turquoise;
      font-size: 18px;
      }   
    .two{
      color: gold;
      margin-left: 2%;
      margin-top: 2%;
      background-color: blue;
      width: 300px;
      border: 3px;
      border-style: ridge;
      border-color: turquoise;
      font-size: 18px;
      }  
      .three{
        color: green;
        margin-left: 2%;
        margin-top: 2%;
        background-color: yellow;
        padding: 5%;
        width: 250px;
        border: 5px;
        border-style: ridge;
        border-color: turquoise;
        font-size: 18px;
        }   
    img {
      margin-top: 2%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    progress[value] {
      width: 400px;
      height: 25px;
      margin: auto;
    }
    ol.a {
    list-style-type: upper-alpha;
    } 
    ul.a {
    list-style-type: square;
    }
  