body {
    width: 94%;
    background-color: whitesmoke;
    padding: 2%;
    }
@media only screen and (max-width: 800px) {
    body {
    background-color: black;
    color: white;
        }
    .myDiv {
        display: none;
    }
    }
.myDiv {
    background-color: lightblue;    
    text-align: center;
    border: 1px solid;
    padding: 10px;
    box-shadow: 8px 16px #888888;
    width: 400px;
    float: right;
    margin: 2%;
    }
.one {
    font-size: 32px;
    text-shadow: 0 0 5px red;
}
.two {   
    border: 1px solid;
    padding: 10px;
    width: 600px;
    height: 600px;
    background-image: url(kallio.jpg);
    background-size: cover;
}
h1 {
    color: mediumslateblue;
    font-size: 20px;
    text-align: center;
    width: 220px;
    height: 50px;
    margin: auto;
    }
h2 {
    color: darkcyan;
    margin: auto;
    margin-top: 2%;
    font-size: 20px;
    text-align: center;
    width: 220px;
    height: 40px;
    font-style: oblique;
    }  
header {
  height: 100px;
    }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    }
li {
    float: left;
    font-size: larger;
    font-style: italic;
    }
li a {
    display: block;
    color: yellowgreen;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    }
a:hover {
    transition-duration: 3s;
    color: red;
    }






  